In [1]:
import Ipynb_importer
import cv2 as cv
import sys,os
import time
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
from collections import Counter
from numba import jit

from image_preprocessing import cdi_process,calc_entropy
from sklearn.preprocessing import StandardScaler,MinMaxScaler

%matplotlib inline
sns.set_style('darkgrid')
Dataset='/Fire/'
Home_os='C:/Users/jingy/Jupyter/Crime/Fire/Dataset/video/'
negative_os=Home_os+'negative/'
positive_os=Home_os+'positive/'

importing Jupyter notebook from C:\Users\jingy\Jupyter\Crime\Combine\20\CDI_Based\Intensity\Preprocessing\image_preprocessing\cdi_process.ipynb
importing Jupyter notebook from C:\Users\jingy\Jupyter\Crime\Combine\20\CDI_Based\Intensity\Preprocessing\image_preprocessing\calc_entropy.ipynb

In [2]:
video=os.listdir(negative_os)
#My_CDI=cdi_process.CDI_lib(cap,Threshold=True,mythold=[0,255])
Intensity_list=[]
for i in video:
    start=5
    video_name=negative_os+i
    cap = cv.VideoCapture(video_name)
    My_CDI=cdi_process.CDI_lib(cap,Threshold=True,mythold=[0,255])
    in_list=[]
    while 1:
        if start<=22:
            cdi,frame=My_CDI.CDI(start,methods='CANNY')
            Intensity=My_CDI.CDI_Intensity(cdi,Normalization=False)
            in_list.append(Intensity)
            cv.imshow('frame',frame)
            cv.imshow('cdi',cdi)
            k = cv.waitKey(1) 
            start+=1
            if k ==27:     
                break 
        else:
            break
    Intensity_list.append(in_list)
    cap.release()
cv.destroyAllWindows()

In [3]:
p_video=os.listdir(positive_os)
#My_CDI=cdi_process.CDI_lib(cap,Threshold=True,mythold=[0,255])
P_Intensity_list=[]
for i in p_video:
    start=5
    video_name=positive_os+i
    cap = cv.VideoCapture(video_name)
    My_CDI=cdi_process.CDI_lib(cap,Threshold=True,mythold=[0,255])
    in_list=[]
    while 1:
        if start<=22:
            cdi,frame=My_CDI.CDI(start,methods='CANNY')
            Intensity=My_CDI.CDI_Intensity(cdi,Normalization=False)
            in_list.append(Intensity)
            cv.imshow('frame',frame)
            cv.imshow('cdi',cdi)
            k = cv.waitKey(1) 
            start+=1
            if k ==27:     
                break 
        else:
            break
    P_Intensity_list.append(in_list)
    cap.release()
cv.destroyAllWindows()

In [4]:

Combine_Intensity=Intensity_list+P_Intensity_list
# min_max_scaler =MinMaxScaler()
# for i in range(len(Combine_Intensity)):
#     Combine_Intensity[i] = ((min_max_scaler.fit_transform(np.array(Combine_Intensity[i]).reshape(-1,1)))).reshape(-1).tolist()
new_list=[]
for i in Combine_Intensity:
        str1 = ' '.join([str(x) for x in i])
        new_list.append(str1)

print(len(new_list))

268

In [5]:
x = [0] * len(video)
y =[1]*len(p_video)
z=x+y

126 142

In [6]:
combine_dict={'intensity':new_list,'label':z}
df=pd.DataFrame(combine_dict)

display(df)
y=df['label'].values

                                             intensity  label
0    42840 60180 67065 79050 50235 90270 91545 5737...      0
1    84150 45645 75735 55080 56865 88485 84660 5967...      0
2    229500 207060 220575 183855 216240 238170 2246...      0
3    170850 169830 151980 142035 159375 167790 1774...      0
4    235620 285090 254235 224910 203745 224145 2200...      0
..                                                 ...    ...
263  467925 342975 371790 457215 137700 248625 9409...      1
264  82620 113220 26010 9945 8415 11985 24480 48960...      1
265  232560 174420 141015 143820 202470 199665 1366...      1
266  175185 149175 191250 321810 184110 170085 9735...      1
267  156570 196095 220830 201960 235875 265710 2320...      1

[268 rows x 2 columns]

In [8]:
data_df = df['intensity'].str.split(' ', expand=True)

data_df['Class'] =y
data_df.to_csv('C:/Users/jingy/Jupyter/Crime/Combine/20/CDI_Based/Intensity/CSV'+Dataset+'Canny.csv')
display(data_df)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,Class
0,42840,60180,67065,79050,50235,90270,91545,57375,36720,33660,48960,61965,53550,46410,60435,67830,86445,133365,0
1,84150,45645,75735,55080,56865,88485,84660,59670,59925,74715,37230,52530,75990,80580,112965,89760,71655,110160,0
2,229500,207060,220575,183855,216240,238170,224655,215730,228480,176460,221085,181815,167790,202470,217005,194310,198390,253980,0
3,170850,169830,151980,142035,159375,167790,177480,138975,182325,32385,9690,0,0,0,0,0,0,0,0
4,235620,285090,254235,224910,203745,224145,220065,230520,243015,287385,291975,342465,282285,293760,314925,263160,197115,188190,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
263,467925,342975,371790,457215,137700,248625,94095,90525,97920,132600,117810,112200,141015,144075,173145,217515,267750,273870,1
264,82620,113220,26010,9945,8415,11985,24480,48960,119085,164220,164475,182835,227715,220065,183345,167535,159630,136170,1
265,232560,174420,141015,143820,202470,199665,136680,138720,156825,181305,153255,174165,148665,108630,96135,83385,69105,76500,1
266,175185,149175,191250,321810,184110,170085,973590,705585,658410,170340,295545,220320,288915,162690,366690,210885,196605,122655,1
267,156570,196095,220830,201960,235875,265710,232050,140250,113220,142545,145860,132855,149430,144585,145860,178245,145095,98430,1