In [1]:
import Ipynb_importer
import cv2 as cv
import sys,os
import time
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
from collections import Counter
from numba import jit

from image_preprocessing import cdi_process,calc_entropy,edge_process
from sklearn.preprocessing import StandardScaler,MinMaxScaler

%matplotlib inline
sns.set_style('darkgrid')
Dataset='/Fire/'
Home_os='C:/Users/jingy/Jupyter/Crime/Fire/Dataset/video/'
negative_os=Home_os+'negative/'
positive_os=Home_os+'positive/'

importing Jupyter notebook from C:\Users\jingy\Jupyter\Crime\Combine\20\CDI_Based\Intensity\Preprocessing\image_preprocessing\cdi_process.ipynb
importing Jupyter notebook from C:\Users\jingy\Jupyter\Crime\Combine\20\CDI_Based\Intensity\Preprocessing\image_preprocessing\calc_entropy.ipynb
importing Jupyter notebook from C:\Users\jingy\Jupyter\Crime\Combine\20\CDI_Based\Intensity\Preprocessing\image_preprocessing\edge_process.ipynb

In [2]:
video=os.listdir(negative_os)
#My_CDI=cdi_process.CDI_lib(cap,Threshold=True,mythold=[0,255])
Intensity_list=[]
for i in video:
    start=5
    video_name=negative_os+i
    cap = cv.VideoCapture(video_name)
    My_CDI=cdi_process.CDI_lib(cap,Threshold=False,mythold=[0,255])
    in_list=[]
    while 1:
        if start<=21:
            cdi,frame=My_CDI.CDI(start,methods='OPTICAL')
            Intensity=My_CDI.CDI_Intensity(cdi,Normalization=False)
            in_list.append(Intensity)
            cv.imshow('frame',frame)
            cv.imshow('cdi',cdi)
            k = cv.waitKey(1) 
            start+=1
            if k ==27:     
                break 
        else:
            break
    Intensity_list.append(in_list)
    cap.release()
cv.destroyAllWindows()

In [3]:
print(len(Intensity_list))

intensity_dict={'intensity':Intensity_list}
df=pd.DataFrame(intensity_dict)
#df['label']=0
display(df)
print(type(df['intensity']))
# k=df['intensity'].values
# g=[len(k[i]) for i in range(800)]
# print(g)

126

                                             intensity
0    [41203.62, 41810.07, 41990.61, 46382.402, 4432...
1    [41081.484, 39885.55, 45008.055, 45332.703, 40...
2    [52752.5, 49191.38, 47728.793, 45490.37, 48717...
3    [33702.82, 37097.355, 40790.992, 36675.98, 338...
4    [33004.34, 32396.982, 37117.758, 37167.16, 364...
..                                                 ...
121  [17535.145, 16871.52, 17318.555, 17633.0, 1875...
122  [38981.305, 41427.242, 41386.71, 45201.83, 427...
123  [31633.29, 29408.742, 28871.965, 29928.523, 33...
124  [41816.684, 37310.258, 34204.02, 36816.18, 335...
125  [37572.64, 32345.082, 36260.38, 39258.344, 372...

[126 rows x 1 columns]

<class 'pandas.core.series.Series'>

In [4]:
p_video=os.listdir(positive_os)

P_Intensity_list=[]
for i in p_video:
    start=5
    video_name=positive_os+i
    cap = cv.VideoCapture(video_name)
    My_CDI=cdi_process.CDI_lib(cap,Threshold=False,mythold=[0,255])
    in_list=[]
    while 1:
        if start<=21:
            cdi,frame=My_CDI.CDI(start,methods='OPTICAL')
            Intensity=My_CDI.CDI_Intensity(cdi,Normalization=False)
            in_list.append(Intensity)
            cv.imshow('frame',frame)
            cv.imshow('cdi',cdi)
            k = cv.waitKey(1) 
            start+=1
            if k ==27:     
                break 
        else:
            break
    P_Intensity_list.append(in_list)
    cap.release()
cv.destroyAllWindows()

In [5]:
print(len(P_Intensity_list))
P_intensity_dict={'intensity':P_Intensity_list}
df=pd.DataFrame(P_intensity_dict)
#df['label']=0
display(df)
print(type(df['intensity']))
# k=df['intensity'].values
# g=[len(k[i]) for i in range(800)]
# print(g)

142

                                             intensity
0    [38710.52, 42825.965, 45707.1, 44456.52, 38845...
1    [39349.11, 40231.56, 35606.72, 36233.094, 3721...
2    [39174.836, 34082.223, 30108.156, 29550.738, 3...
3    [37656.945, 37905.395, 39753.92, 50095.86, 380...
4    [41093.562, 43453.312, 44233.12, 46276.355, 44...
..                                                 ...
137  [43073.418, 44143.387, 50811.227, 58566.336, 4...
138  [37918.08, 36382.58, 36871.97, 35234.65, 34631...
139  [36088.133, 31747.773, 36908.586, 39251.047, 3...
140  [32221.055, 33687.355, 66837.836, 50878.043, 2...
141  [36071.53, 26697.385, 28093.932, 27302.883, 35...

[142 rows x 1 columns]

<class 'pandas.core.series.Series'>

In [6]:

Combine_Intensity=Intensity_list+P_Intensity_list
# min_max_scaler =MinMaxScaler()
# for i in range(len(Combine_Intensity)):
#     Combine_Intensity[i] = ((min_max_scaler.fit_transform(np.array(Combine_Intensity[i]).reshape(-1,1)))).reshape(-1).tolist()
new_list=[]
for i in Combine_Intensity:
        str1 = ' '.join([str(x) for x in i])
        new_list.append(str1)

print(len(new_list))

268

In [7]:
x = [0] * len(video)
y =[1]*len(p_video)
z=x+y

In [8]:
combine_dict={'intensity':new_list,'label':z}
df=pd.DataFrame(combine_dict)

display(df)
y=df['label'].values

                                             intensity  label
0    41203.62 41810.07 41990.61 46382.402 44329.05 ...      0
1    41081.484 39885.55 45008.055 45332.703 40804.5...      0
2    52752.5 49191.38 47728.793 45490.37 48717.926 ...      0
3    33702.82 37097.355 40790.992 36675.98 33821.93...      0
4    33004.34 32396.982 37117.758 37167.16 36492.49...      0
..                                                 ...    ...
263  43073.418 44143.387 50811.227 58566.336 45148....      1
264  37918.08 36382.58 36871.97 35234.65 34631.816 ...      1
265  36088.133 31747.773 36908.586 39251.047 39364....      1
266  32221.055 33687.355 66837.836 50878.043 29382....      1
267  36071.53 26697.385 28093.932 27302.883 35109.6...      1

[268 rows x 2 columns]

In [9]:
data_df = df['intensity'].str.split(' ', expand=True)

data_df['Class'] =y
data_df.to_csv('C:/Users/jingy/Jupyter/Crime/Combine/20/CDI_Based/Intensity/CSV'+Dataset+'Optical_Ang.csv')
display(data_df)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,Class
0,41203.62,41810.07,41990.61,46382.402,44329.05,45508.758,42485.11,46421.984,47335.86,40992.15,41754.844,42827.38,39487.54,44556.355,45286.61,43465.453,43711.67,0
1,41081.484,39885.55,45008.055,45332.703,40804.586,44400.36,44585.914,44724.816,41071.68,38542.66,41722.996,42381.59,42279.58,45154.99,45681.477,44385.438,35756.36,0
2,52752.5,49191.38,47728.793,45490.37,48717.926,45645.254,47220.24,53973.242,60537.31,53024.184,52886.016,49797.617,47315.19,53085.984,45066.62,45043.336,46123.2,0
3,33702.82,37097.355,40790.992,36675.98,33821.934,33952.195,28027.898,30914.973,33714.848,37833.695,44387.562,53462.883,51903.883,62200.08,87386.54,87386.54,30807.486,0
4,33004.34,32396.982,37117.758,37167.16,36492.49,32109.545,28260.225,30655.787,26975.664,30395.025,27929.287,24545.732,27823.846,34176.867,32114.684,39932.66,35943.242,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
263,43073.418,44143.387,50811.227,58566.336,45148.887,45459.773,51986.707,48404.938,44264.242,38196.043,34515.28,33078.676,32320.332,32626.473,39135.695,34591.484,33571.484,1
264,37918.08,36382.58,36871.97,35234.65,34631.816,31813.615,25058.668,22979.27,28783.375,30831.604,28045.707,34844.46,37657.4,39649.4,31572.324,32281.297,40164.668,1
265,36088.133,31747.773,36908.586,39251.047,39364.83,40035.727,35971.4,34773.945,40351.32,44057.37,45717.43,39208.035,35377.312,39008.07,39481.598,39166.785,41091.824,1
266,32221.055,33687.355,66837.836,50878.043,29382.617,52702.79,102694.36,94152.11,39884.27,24565.494,40884.113,36702.33,33647.06,32629.408,62098.625,65065.723,56958.664,1
267,36071.53,26697.385,28093.932,27302.883,35109.688,35400.684,36510.168,32737.607,35099.22,32928.754,28227.89,30929.22,40007.324,33905.68,32782.24,33219.668,35430.09,1