In [1]:
import Ipynb_importer
import cv2 as cv
import sys,os
import time
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
from collections import Counter
from numba import jit

from image_preprocessing import cdi_process,calc_entropy
from sklearn.preprocessing import StandardScaler,MinMaxScaler

%matplotlib inline
sns.set_style('darkgrid')

Home_os='C:/Users/jingy/Jupyter/Crime/Theft/Dataset/video/'
negative_os=Home_os+'negative/'
positive_os=Home_os+'positive/'

importing Jupyter notebook from C:\Users\jingy\Jupyter\Crime\Theft\CDI_Based\Intensity\Preprocessing\image_preprocessing\cdi_process.ipynb
importing Jupyter notebook from C:\Users\jingy\Jupyter\Crime\Theft\CDI_Based\Intensity\Preprocessing\image_preprocessing\calc_entropy.ipynb

In [2]:
video=os.listdir(negative_os)
#My_CDI=cdi_process.CDI_lib(cap,Threshold=True,mythold=[0,255])
Intensity_list=[]
for i in video:
    start=0
    video_name=negative_os+i
    cap = cv.VideoCapture(video_name)
    My_CDI=cdi_process.CDI_lib(cap,Threshold=True,mythold=[0,255])
    in_list=[]
    while 1:
        if start<=27:
            cdi,frame=My_CDI.CDI(start,methods='LAPLACIAN')
            Intensity=My_CDI.CDI_Intensity(cdi,Normalization=False)
            in_list.append(Intensity)
            cv.imshow('frame',frame)
            cv.imshow('cdi',cdi)
            k = cv.waitKey(1) 
            start+=1
            if k ==27:     
                break 
        else:
            break
    Intensity_list.append(in_list)
    cap.release()
cv.destroyAllWindows()

In [3]:
video=os.listdir(positive_os)
#My_CDI=cdi_process.CDI_lib(cap,Threshold=True,mythold=[0,255])
P_Intensity_list=[]
for i in video:
    start=0
    video_name=positive_os+i
    cap = cv.VideoCapture(video_name)
    My_CDI=cdi_process.CDI_lib(cap,Threshold=True,mythold=[0,255])
    in_list=[]
    while 1:
        if start<=27:
            cdi,frame=My_CDI.CDI(start,methods='LAPLACIAN')
            Intensity=My_CDI.CDI_Intensity(cdi,Normalization=False)
            in_list.append(Intensity)
            cv.imshow('frame',frame)
            cv.imshow('cdi',cdi)
            k = cv.waitKey(1) 
            start+=1
            if k ==27:     
                break 
        else:
            break
    P_Intensity_list.append(in_list)
    cap.release()
cv.destroyAllWindows()

In [4]:

Combine_Intensity=Intensity_list+P_Intensity_list
# min_max_scaler =MinMaxScaler()
# for i in range(len(Combine_Intensity)):
#     Combine_Intensity[i] = ((min_max_scaler.fit_transform(np.array(Combine_Intensity[i]).reshape(-1,1)))).reshape(-1).tolist()
new_list=[]
for i in Combine_Intensity:
        str1 = ' '.join([str(x) for x in i])
        new_list.append(str1)

print(len(new_list))

268

In [5]:
x = [0] * 145
y =[1]*123
z=x+y

In [6]:
combine_dict={'intensity':new_list,'label':z}
df=pd.DataFrame(combine_dict)

display(df)
y=df['label'].values

                                             intensity  label
0    3366000 2755020 2829990 3029655 2665260 250155...      0
1    3734730 3889515 3425160 3070455 3432300 309570...      0
2    5408550 3895890 3554190 4857750 4553790 276879...      0
3    2826165 1355070 986595 1118940 2388075 3125280...      0
4    2869005 1819425 776985 901935 2347530 2623185 ...      0
..                                                 ...    ...
263  2229720 2427345 2006850 1815600 1723800 169396...      1
264  3256605 3019710 2943720 3274455 3074535 296106...      1
265  1650360 1118685 403155 280245 289680 511020 11...      1
266  3348660 3171180 3262470 3459075 3273690 340705...      1
267  175695 1436160 2336565 2238645 3602895 1369095...      1

[268 rows x 2 columns]

In [7]:
data_df = df['intensity'].str.split(' ', expand=True)

data_df['Class'] =y
data_df.to_csv('C:/Users/jingy/Jupyter/Crime/Theft/CDI_Based/Intensity/CSV/Laplacian_No_Filter.csv')
display(data_df)

,0,1,2,3,4,5,6,7,8,9,...,19,20,21,22,23,24,25,26,27,Class
0,3366000,2755020,2829990,3029655,2665260,2501550,2368950,2014245,2236095,2193255,...,1522350,1613130,1410405,1977780,3449895,1872465,1432590,1382355,1500420,0
1,3734730,3889515,3425160,3070455,3432300,3095700,2603550,2936835,3349170,3108195,...,3253035,3924705,3319845,3701580,3317295,2895780,3369825,2334525,2401080,0
2,5408550,3895890,3554190,4857750,4553790,2768790,2930205,4293435,3209940,3612330,...,1567230,2275365,3617175,3869115,5447565,3243345,1443300,1833705,3740085,0
3,2826165,1355070,986595,1118940,2388075,3125280,2862120,2587230,2222325,1919130,...,1489200,1496595,1511385,2094570,2360280,1448400,1611345,1974210,1839825,0
4,2869005,1819425,776985,901935,2347530,2623185,2521185,2110380,1627665,1379040,...,1108485,1072530,1251285,2336310,2557650,1523625,1317585,1125060,1027395,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
263,2229720,2427345,2006850,1815600,1723800,1693965,1636590,1522350,1464210,1551420,...,1844925,1035555,1376490,4006560,3556485,3082185,2937345,3014610,3226260,1
264,3256605,3019710,2943720,3274455,3074535,2961060,3374415,3658740,3576120,3597795,...,3095445,3309135,3686790,3915015,3705150,3415215,3320865,3424905,3350955,1
265,1650360,1118685,403155,280245,289680,511020,1113330,662235,514590,453390,...,916725,1020765,1109760,2016030,1896435,1419585,1264035,1123020,1189575,1
266,3348660,3171180,3262470,3459075,3273690,3407055,3529965,3476160,3619980,3503955,...,3030420,3298425,3357075,3614625,3331830,3076575,3415215,3306330,3084225,1
267,175695,1436160,2336565,2238645,3602895,1369095,1379805,3676590,1965285,1523115,...,1235220,3702855,834870,865470,3622275,2973045,3095190,4129980,3178830,1