In [1]:
import Ipynb_importer
import cv2 as cv
import sys,os
import time
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
from collections import Counter
from numba import jit

from image_preprocessing import cdi_process,calc_entropy
from sklearn.preprocessing import StandardScaler,MinMaxScaler

%matplotlib inline
sns.set_style('darkgrid')

Home_os='C:/Users/jingy/Jupyter/Crime/Fight/Dataset/video/'
negative_os=Home_os+'negative/'
positive_os=Home_os+'positive/'

importing Jupyter notebook from C:\Users\jingy\Jupyter\Crime\Fight\CDI_Based\Intensity\Preprocessing\image_preprocessing\cdi_process.ipynb
importing Jupyter notebook from C:\Users\jingy\Jupyter\Crime\Fight\CDI_Based\Intensity\Preprocessing\image_preprocessing\calc_entropy.ipynb

In [2]:
video=os.listdir(negative_os)

for i in video:
    video_name=negative_os+i
    #print(video_name)
    cap = cv.VideoCapture(video_name)
    num=cap.get(7)
    if num!=30:
        print(i,num)
    while 1:
        ret,frame=cap.read() 
        if ret:
            cv.imshow('frame',frame)
            k = cv.waitKey(1) 
            if k ==27:     
                break 
        else:
            break
cv.destroyAllWindows()

negative27.mp4 31.0

In [3]:
video=os.listdir(negative_os)
#My_CDI=cdi_process.CDI_lib(cap,Threshold=True,mythold=[0,255])
Intensity_list=[]
for i in video:
    start=0
    video_name=negative_os+i
    cap = cv.VideoCapture(video_name)
    My_CDI=cdi_process.CDI_lib(cap,Threshold=True,mythold=[0,255])
    in_list=[]
    while 1:
        if start<=27:
            cdi,frame=My_CDI.CDI(start)
            Intensity=My_CDI.CDI_Intensity(cdi,Normalization=False)
            in_list.append(Intensity)
            cv.imshow('frame',frame)
            cv.imshow('cdi',cdi)
            k = cv.waitKey(1) 
            start+=1
            if k ==27:     
                break 
        else:
            break
    Intensity_list.append(in_list)
    cap.release()
cv.destroyAllWindows()

In [4]:
print(len(Intensity_list))

intensity_dict={'intensity':Intensity_list}
df=pd.DataFrame(intensity_dict)
#df['label']=0
display(df)
print(type(df['intensity']))
# k=df['intensity'].values
# g=[len(k[i]) for i in range(800)]
# print(g)

159

                                             intensity
0    [884850, 633930, 1092930, 309060, 45135, 31875...
1    [4785330, 4045575, 4845000, 4542825, 2681580, ...
2    [1759245, 2026740, 1386435, 2034390, 2596410, ...
3    [3060255, 1117155, 928965, 818550, 1079160, 24...
4    [1508325, 2239410, 694365, 450075, 2023935, 12...
..                                                 ...
154  [3107940, 2168010, 2968455, 4197555, 2271285, ...
155  [1752615, 2403375, 1954830, 1663110, 1450440, ...
156  [2309790, 2759865, 2943210, 2088960, 2435760, ...
157  [2504355, 1939020, 1683000, 1908165, 2217480, ...
158  [1090635, 382500, 169065, 526830, 1770975, 473...

[159 rows x 1 columns]

<class 'pandas.core.series.Series'>

In [5]:
video=os.listdir(positive_os)
#My_CDI=cdi_process.CDI_lib(cap,Threshold=True,mythold=[0,255])
P_Intensity_list=[]
for i in video:
    start=0
    video_name=positive_os+i
    cap = cv.VideoCapture(video_name)
    My_CDI=cdi_process.CDI_lib(cap,Threshold=True,mythold=[0,255])
    in_list=[]
    while 1:
        if start<=27:
            cdi,frame=My_CDI.CDI(start)
            Intensity=My_CDI.CDI_Intensity(cdi,Normalization=False)
            in_list.append(Intensity)
            cv.imshow('frame',frame)
            cv.imshow('cdi',cdi)
            k = cv.waitKey(1) 
            start+=1
            if k ==27:     
                break 
        else:
            break
    P_Intensity_list.append(in_list)
    cap.release()
cv.destroyAllWindows()

In [6]:
print(len(P_Intensity_list))
P_intensity_dict={'intensity':P_Intensity_list}
df=pd.DataFrame(P_intensity_dict)
#df['label']=0
display(df)
print(type(df['intensity']))
# k=df['intensity'].values
# g=[len(k[i]) for i in range(800)]
# print(g)

88

                                            intensity
0   [4418640, 5032935, 4046085, 3657465, 3906090, ...
1   [5462610, 3509055, 1178610, 1036320, 1749810, ...
2   [4043535, 3780630, 3841830, 3462645, 3025830, ...
3   [2115990, 2200395, 1880115, 1647555, 1170960, ...
4   [6766935, 6514485, 6714405, 6925545, 6909990, ...
..                                                ...
83  [4405890, 4948020, 4905690, 4510950, 4321230, ...
84  [1507050, 1399440, 1693455, 1509600, 1620525, ...
85  [7045395, 4801905, 5261670, 6728685, 6999495, ...
86  [5330520, 4238100, 4576995, 5077560, 5642640, ...
87  [2686680, 2853450, 3270885, 3139560, 3139050, ...

[88 rows x 1 columns]

<class 'pandas.core.series.Series'>

In [7]:

Combine_Intensity=Intensity_list+P_Intensity_list
# min_max_scaler =MinMaxScaler()
# for i in range(len(Combine_Intensity)):
#     Combine_Intensity[i] = ((min_max_scaler.fit_transform(np.array(Combine_Intensity[i]).reshape(-1,1)))).reshape(-1).tolist()
new_list=[]
for i in Combine_Intensity:
        str1 = ' '.join([str(x) for x in i])
        new_list.append(str1)

print(len(new_list))

247

In [8]:
x = [0] * 159
y =[1]*88
z=x+y

In [9]:
combine_dict={'intensity':new_list,'label':z}
df=pd.DataFrame(combine_dict)

display(df)
y=df['label'].values

                                             intensity  label
0    884850 633930 1092930 309060 45135 31875 42840...      0
1    4785330 4045575 4845000 4542825 2681580 288711...      0
2    1759245 2026740 1386435 2034390 2596410 645150...      0
3    3060255 1117155 928965 818550 1079160 2412300 ...      0
4    1508325 2239410 694365 450075 2023935 1243890 ...      0
..                                                 ...    ...
242  4405890 4948020 4905690 4510950 4321230 427686...      1
243  1507050 1399440 1693455 1509600 1620525 246075...      1
244  7045395 4801905 5261670 6728685 6999495 761583...      1
245  5330520 4238100 4576995 5077560 5642640 637984...      1
246  2686680 2853450 3270885 3139560 3139050 299574...      1

[247 rows x 2 columns]

In [10]:
data_df = df['intensity'].str.split(' ', expand=True)

data_df['Class'] =y
data_df.to_csv('C:/Users/jingy/Jupyter/Crime/Fight/CDI_Based/Intensity/CSV/Gray.csv')
display(data_df)

,0,1,2,3,4,5,6,7,8,9,...,19,20,21,22,23,24,25,26,27,Class
0,884850,633930,1092930,309060,45135,31875,42840,17085,10455,6375,...,2025210,1866090,1411425,2273070,3102840,1614405,1373430,1927545,1015665,0
1,4785330,4045575,4845000,4542825,2681580,2887110,4072860,3846165,4010640,4215405,...,2620890,3143895,3709230,5087760,4491315,2700705,2603295,3078360,2572440,0
2,1759245,2026740,1386435,2034390,2596410,645150,545445,514335,1118175,1912500,...,3865290,1828605,1423920,2031585,6628215,3529965,1501695,1037085,944775,0
3,3060255,1117155,928965,818550,1079160,2412300,942225,756330,574260,772395,...,1169685,1854870,294270,494955,615060,643875,2579070,1088850,820845,0
4,1508325,2239410,694365,450075,2023935,1243890,676770,1760265,497505,554625,...,1841610,876945,509235,1857675,528105,352920,1680195,572985,364140,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
242,4405890,4948020,4905690,4510950,4321230,4276860,5071950,5895345,5297370,5358315,...,6527235,6217665,5555430,5681145,5378970,5164005,5043645,4310520,4195005,1
243,1507050,1399440,1693455,1509600,1620525,2460750,2730540,2630070,2966925,2736150,...,3538125,4334490,4256460,4655535,4479585,3617685,4090455,3954795,3238500,1
244,7045395,4801905,5261670,6728685,6999495,7615830,5851995,5226735,5908860,7472010,...,7724205,7236135,6275295,6653715,7156830,6631785,7640055,7501845,6359700,1
245,5330520,4238100,4576995,5077560,5642640,6379845,5790795,5194350,5557725,5550585,...,3224475,3763800,4399005,5256825,6920445,5019930,3662055,2839170,2738700,1
246,2686680,2853450,3270885,3139560,3139050,2995740,2999055,2960550,2870025,2862885,...,3526395,3652365,3575100,4283235,3383340,2865945,2908785,3184695,3591675,1