In [1]:
import Ipynb_importer
import cv2 as cv
import sys,os
import time
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
from collections import Counter
from numba import jit

from image_preprocessing import cdi_process,calc_entropy
from sklearn.preprocessing import StandardScaler,MinMaxScaler

%matplotlib inline
sns.set_style('darkgrid')

Home_os='C:/Users/jingy/Jupyter/Crime/Fight/Dataset/video/'
negative_os=Home_os+'negative/'
positive_os=Home_os+'positive/'

importing Jupyter notebook from C:\Users\jingy\Jupyter\Crime\Fight\CDI_Based\Intensity\Preprocessing\image_preprocessing\cdi_process.ipynb
importing Jupyter notebook from C:\Users\jingy\Jupyter\Crime\Fight\CDI_Based\Intensity\Preprocessing\image_preprocessing\calc_entropy.ipynb

In [2]:
video=os.listdir(negative_os)
#My_CDI=cdi_process.CDI_lib(cap,Threshold=True,mythold=[0,255])
Intensity_list=[]
for i in video:
    start=0
    video_name=negative_os+i
    cap = cv.VideoCapture(video_name)
    My_CDI=cdi_process.CDI_lib(cap,Threshold=True,mythold=[0,255])
    in_list=[]
    while 1:
        if start<=27:
            cdi,frame=My_CDI.CDI(start,methods='LAPLACIAN')
            Intensity=My_CDI.CDI_Intensity(cdi,Normalization=False)
            in_list.append(Intensity)
            cv.imshow('frame',frame)
            cv.imshow('cdi',cdi)
            k = cv.waitKey(1) 
            start+=1
            if k ==27:     
                break 
        else:
            break
    Intensity_list.append(in_list)
    cap.release()
cv.destroyAllWindows()

In [3]:
video=os.listdir(positive_os)
#My_CDI=cdi_process.CDI_lib(cap,Threshold=True,mythold=[0,255])
P_Intensity_list=[]
for i in video:
    start=0
    video_name=positive_os+i
    cap = cv.VideoCapture(video_name)
    My_CDI=cdi_process.CDI_lib(cap,Threshold=True,mythold=[0,255])
    in_list=[]
    while 1:
        if start<=27:
            cdi,frame=My_CDI.CDI(start,methods='LAPLACIAN')
            Intensity=My_CDI.CDI_Intensity(cdi,Normalization=False)
            in_list.append(Intensity)
            cv.imshow('frame',frame)
            cv.imshow('cdi',cdi)
            k = cv.waitKey(1) 
            start+=1
            if k ==27:     
                break 
        else:
            break
    P_Intensity_list.append(in_list)
    cap.release()
cv.destroyAllWindows()

In [4]:

Combine_Intensity=Intensity_list+P_Intensity_list
# min_max_scaler =MinMaxScaler()
# for i in range(len(Combine_Intensity)):
#     Combine_Intensity[i] = ((min_max_scaler.fit_transform(np.array(Combine_Intensity[i]).reshape(-1,1)))).reshape(-1).tolist()
new_list=[]
for i in Combine_Intensity:
        str1 = ' '.join([str(x) for x in i])
        new_list.append(str1)

print(len(new_list))

248

In [5]:
x = [0] * 159
y =[1]*89
z=x+y

In [6]:
combine_dict={'intensity':new_list,'label':z}
df=pd.DataFrame(combine_dict)

display(df)
y=df['label'].values

                                             intensity  label
0    1010820 801720 1403010 417435 57630 41310 5584...      0
1    4039965 3506760 4048125 3828060 2251140 233886...      0
2    1825035 2030820 1486905 1871700 2338095 679065...      0
3    2680560 921315 734145 644385 850935 2181525 81...      0
4    1604460 2078505 756330 466140 1472115 1233690 ...      0
..                                                 ...    ...
243  3292815 3561585 3546285 3371355 3279045 323340...      1
244  1514700 1441005 1605735 1406325 1507815 214812...      1
245  4730505 3246150 3346875 4264365 4392120 479833...      1
246  3848715 3102075 3178065 3571785 3906600 421540...      1
247  2422500 2415360 2742015 2697645 2652510 244774...      1

[248 rows x 2 columns]

In [7]:
data_df = df['intensity'].str.split(' ', expand=True)

data_df['Class'] =y
data_df.to_csv('C:/Users/jingy/Jupyter/Crime/Fight/CDI_Based/Intensity/CSV/Laplacian_No_Filter.csv')
display(data_df)

,0,1,2,3,4,5,6,7,8,9,...,19,20,21,22,23,24,25,26,27,Class
0,1010820,801720,1403010,417435,57630,41310,55845,22440,16065,10455,...,2042295,1956360,1551930,2131035,2750685,1721505,1515465,1973955,1157700,0
1,4039965,3506760,4048125,3828060,2251140,2338860,3375435,3172710,3262725,3476925,...,2322030,2758590,3217080,3925980,3766350,2788170,2553315,2916945,2469930,0
2,1825035,2030820,1486905,1871700,2338095,679065,500055,510510,1036320,1776330,...,3044190,1430040,1032495,1435395,4408440,2850135,1250010,784380,735165,0
3,2680560,921315,734145,644385,850935,2181525,816510,583185,500055,659175,...,1075590,1808460,335325,472005,504645,505665,2266440,995010,626280,0
4,1604460,2078505,756330,466140,1472115,1233690,695640,1244145,482460,508980,...,1349970,908565,569415,1354815,568905,436050,1455030,601290,363885,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
243,3292815,3561585,3546285,3371355,3279045,3233400,3516195,3780375,3619470,3634515,...,4125390,3954540,3765840,3849225,3653895,3553170,3535830,3279300,3207900,1
244,1514700,1441005,1605735,1406325,1507815,2148120,2390625,2239920,2470695,2335035,...,2683620,3275985,3331575,3520785,3315255,2793015,3081165,3043680,2667810,1
245,4730505,3246150,3346875,4264365,4392120,4798335,3994575,3492480,3789300,4688685,...,4878660,4613460,4122075,4380390,4579290,4357185,4887075,4774110,4224075,1
246,3848715,3102075,3178065,3571785,3906600,4215405,4025430,3779100,3939240,3963210,...,2297040,2650725,3331320,3886455,4622385,3684495,2804745,2144040,2057085,1
247,2422500,2415360,2742015,2697645,2652510,2447745,2366910,2235075,2157555,2173875,...,2615790,2627265,2614515,3181125,2548470,2135115,2108340,2203965,2449785,1