In [1]:
import Ipynb_importer
import cv2 as cv
import sys,os
import time
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
from collections import Counter
from numba import jit

from image_preprocessing import cdi_process,calc_entropy
from sklearn.preprocessing import StandardScaler,MinMaxScaler

%matplotlib inline
sns.set_style('darkgrid')

Home_os='C:/Users/jingy/Jupyter/Crime/Road/Dataset/video/'
negative_os=Home_os+'negative/'
positive_os=Home_os+'positive/'

importing Jupyter notebook from C:\Users\jingy\Jupyter\Crime\Road\CDI_Based\Intensity\Preprocessing\image_preprocessing\cdi_process.ipynb
importing Jupyter notebook from C:\Users\jingy\Jupyter\Crime\Road\CDI_Based\Intensity\Preprocessing\image_preprocessing\calc_entropy.ipynb

In [2]:
video=os.listdir(negative_os)
#My_CDI=cdi_process.CDI_lib(cap,Threshold=True,mythold=[0,255])
Intensity_list=[]
for i in video:
    start=0
    video_name=negative_os+i
    cap = cv.VideoCapture(video_name)
    My_CDI=cdi_process.CDI_lib(cap,Threshold=True,mythold=[0,255])
    in_list=[]
    while 1:
        if start<=27:
            cdi,frame=My_CDI.CDI(start,methods='LAPLACIAN')
            Intensity=My_CDI.CDI_Intensity(cdi,Normalization=False)
            in_list.append(Intensity)
            cv.imshow('frame',frame)
            cv.imshow('cdi',cdi)
            k = cv.waitKey(1) 
            start+=1
            if k ==27:     
                break 
        else:
            break
    Intensity_list.append(in_list)
    cap.release()
cv.destroyAllWindows()

In [3]:
video=os.listdir(positive_os)
#My_CDI=cdi_process.CDI_lib(cap,Threshold=True,mythold=[0,255])
P_Intensity_list=[]
for i in video:
    start=0
    video_name=positive_os+i
    cap = cv.VideoCapture(video_name)
    My_CDI=cdi_process.CDI_lib(cap,Threshold=True,mythold=[0,255])
    in_list=[]
    while 1:
        if start<=27:
            cdi,frame=My_CDI.CDI(start,methods='LAPLACIAN')
            Intensity=My_CDI.CDI_Intensity(cdi,Normalization=False)
            in_list.append(Intensity)
            cv.imshow('frame',frame)
            cv.imshow('cdi',cdi)
            k = cv.waitKey(1) 
            start+=1
            if k ==27:     
                break 
        else:
            break
    P_Intensity_list.append(in_list)
    cap.release()
cv.destroyAllWindows()

In [4]:

Combine_Intensity=Intensity_list+P_Intensity_list
# min_max_scaler =MinMaxScaler()
# for i in range(len(Combine_Intensity)):
#     Combine_Intensity[i] = ((min_max_scaler.fit_transform(np.array(Combine_Intensity[i]).reshape(-1,1)))).reshape(-1).tolist()
new_list=[]
for i in Combine_Intensity:
        str1 = ' '.join([str(x) for x in i])
        new_list.append(str1)

print(len(new_list))

299

In [5]:
x = [0] * 198
y =[1]*101
z=x+y

In [6]:
combine_dict={'intensity':new_list,'label':z}
df=pd.DataFrame(combine_dict)

display(df)
y=df['label'].values

                                             intensity  label
0    218535 263415 228225 167025 111690 98175 13489...      0
1    763980 1062075 1083240 798405 941970 919785 38...      0
2    3030675 2944995 3269100 3486615 3661800 364471...      0
3    2416635 2022150 3387165 3057960 1956360 901680...      0
4    2656845 2857275 2366910 1902555 1536885 122017...      0
..                                                 ...    ...
294  614550 380715 322575 368985 551565 877455 1260...      1
295  1560090 1435140 2138940 3386655 3725040 290368...      1
296  1293870 267240 266985 1472370 525555 428145 39...      1
297  1935195 494700 503625 1855890 1291575 613785 3...      1
298  2289645 2742525 3491715 3947400 5820375 577804...      1

[299 rows x 2 columns]

In [7]:
data_df = df['intensity'].str.split(' ', expand=True)

data_df['Class'] =y
data_df.to_csv('C:/Users/jingy/Jupyter/Crime/Road/CDI_Based/Intensity/CSV/Laplacian_No_Filter.csv')
display(data_df)

,0,1,2,3,4,5,6,7,8,9,...,19,20,21,22,23,24,25,26,27,Class
0,218535,263415,228225,167025,111690,98175,134895,107100,83895,344505,...,107610,48195,72165,1675095,924120,217260,154785,161670,180540,0
1,763980,1062075,1083240,798405,941970,919785,387600,445995,489855,374850,...,340425,384285,341955,493935,370260,282540,387855,286110,261120,0
2,3030675,2944995,3269100,3486615,3661800,3644715,3258390,2977635,3288225,3724275,...,3330045,2167245,1841355,2659650,3837495,2828970,1811775,1934175,2877675,0
3,2416635,2022150,3387165,3057960,1956360,901680,837675,1635060,1680960,571965,...,589305,80325,54570,1420095,1612110,971550,370260,352920,252960,0
4,2656845,2857275,2366910,1902555,1536885,1220175,785910,831045,2013225,1589925,...,965940,1072020,980220,1380570,2193510,1810755,1552185,966705,736440,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
294,614550,380715,322575,368985,551565,877455,1260465,2221560,2204475,1839315,...,2335545,2008125,2363850,3538635,5125755,2970750,2030820,1991040,2394960,1
295,1560090,1435140,2138940,3386655,3725040,2903685,2778480,4169505,4002225,4199595,...,3117120,2051985,2219520,3984885,1390005,830280,1130160,1089105,1135260,1
296,1293870,267240,266985,1472370,525555,428145,395760,391170,386325,247095,...,790755,234345,292230,1789335,662235,732105,1773780,1001385,1869915,1
297,1935195,494700,503625,1855890,1291575,613785,372810,352920,961095,1953555,...,2695095,1282650,592875,939930,1152345,1050855,1443300,841245,745110,1
298,2289645,2742525,3491715,3947400,5820375,5778045,5740305,5554920,5286150,5441190,...,5205315,4835055,4794000,5728830,5269320,5120910,5038035,4434705,4610400,1